body {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  background-color: #edc6f7;
}

#container {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
  background-color: rgb(247, 247, 150);
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
